.wrapper {
  margin-top: 100px;
  max-width: 1250px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 0px 1px 8px rgb(125, 125, 125, 0.25);
  background-color: white;
  overflow: hidden;
}

.slide {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.boxCarousel:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
